<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="assets/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="assets/css/font-awesome.css" rel="stylesheet">-->
    <!--<link href="assets/css/docs.css" rel="stylesheet" >-->
    <!--<link href="assets/bootstrap-social.css" rel="stylesheet" >-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
    <title>JK's BOOTH ROOM</title>
    <style>
        body{

            background-color: rgba(189, 189, 189, 0.17);

        }
        hr{
            border :  solid 1px black;
        }

        .main_banner{
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 30px;
            color: inherit;

        }
        .main_booth_banner{
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 30px;
            color: inherit;
            background-color : white;
        }

    </style>
</head>
<body>
<audio autoplay loop>
    <source src="./music/jk9.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<div class="container">
    <div class="main_banner">

        <a href="/" class="btn btn-align-left" style="color : black">
            <span class="glyphicon glyphicon-home"></span>
        </a>
        <h1 style="color : black; text-align: center">JK's BOOTH</h1>
        <div class="row">
            <hr>
        </div>
        <div class="jumbotron" style="background-color: black">

            <a href="/categoryselect">
                <h1>GO TO</h1>
                <h1>BOOTH</h1>
            </a>


        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <%if(isLogin){%>
            <h1 style="text-align:center;color : black">You are logged in</h1>
            <%} else{%>



            <a href="/auth/facebook" class="btn btn-block" style="text-align:center;color : black; border : solid 1px black">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
            <%}%>
            <a href="https://www.instagram.com/jkdec19/" class="btn btn-block " style="text-align:center;background-image: linear-gradient(to right, #720e9e 0, #dd4b39 100%);color : white">
                <span class="fa fa-facebook"></span> JK Instagram
            </a>
            <a href="https://www.facebook.com/profile.php?id=100004443604215&fref=ts" class="btn btn-block " style="text-align:center;background-color: #3b5998; color : white">
                <span class="fa fa-facebook"></span> JK Facebook
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>

<div class="container">
    <div class="row">
        <hr>

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h5 style="text-align: center; color : black">Copyright &copy; 2017 JK All Rights Reserved</h5>
            <h5 style="text-align: center; color : black">Made by Dongho Choi</h5>

        </div>
        <div class="col-md-4">

        </div>

    </div>
</div>


</body>
</html>
